project_id              = "gen-lang-client-0104807788"
domain_name             = "saas.didiberman.com"

kie_api_key             = "..."
cloudflare_api_key      = "..."
cloudflare_zone_id      = "..."

# Firebase Config (Get this from Project Settings -> General -> Web App)
firebase_api_key        = "..."
firebase_auth_domain    = "..."
